

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body {
    background: #EBECFB;
}

main {
    // margin-top: 5px;
    // padding: 4rem 1.5rem;
    background: #797979;
    min-height: calc(100vh - 80px);
    font-family: 'Rubik', sans-serif;
}

.message {
    color: black;
    font-size: 1rem;

    justify-content: space-between;
    background: white;
    padding: 0.4rem 1.5rem 0.7rem 1.5rem;
    border-radius: 10px;
    width: 70%;
    height: 50%;
    margin: 1.5rem 0rem 0rem 1rem;
    font-family: 'Rubik', sans-serif;
}

#reason {
    color: #7902CC;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}